
:root {
  --color-primary-one: #00B945;
  --color-primary-two: #238B49;
  --color-primary-three: #00782D;
  --color-primary-four: #37DC74;
  --color-primary-five: #63DC90;
  --color-secondary-one: #0776A0;
  --color-secondary-two: #226078;
  --color-secondary-three: #024C68;
  --color-secondary-four: #3AA6D0;
  --color-secondary-five: #62B1D0;
  --color-third-one: #84E900;
  --color-third-two: #76AF2C;
  --color-third-three: #569700;
  --color-third-four: #A4F43D;
  --color-third-five: #BAF46E;

  --font-color: #fff;
  /* --font-color: #114411; */

  --border-color: var(--color-secondary-two);
}
body {
  background-color: var(--color-primary-one);
}
.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  /* justify-items: center; */
  align-items: center;
  flex-direction: column;
  color: var(--font-color);
  padding: 20px;
  box-sizing: border-box;
}

.App span,
.App input {
  border: none;
  border-bottom: 1px solid var(--border-color);
  padding: 2% 0;
  background-color: transparent;
  outline: none;
  font-size: 60px;
  width: auto;
  text-align: center;
  display: block;
  color: var(--font-color);
}

.App label {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.App span label {

}

.ip-validation {
  margin-top: 20px;
}

.ip-validation {
  max-width: 960px;
  width: 100%;
  /* margin: 0 auto; */
}

.App .mask {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
}
.block {
  --main-color: var(--color-primary-two);
  border: 1px solid var(--main-color);
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  color: #fff;
  width: 24.5%;
  margin-bottom: 15px;
}
.block.col-6 {
  width: 49.5%;
}
.block + .block {
  margin-left: 15px;
}
.block h4 {
  margin: 0;

}
.block-header {
  background: var(--main-color);
  padding: 5px 15px;
}
.block-content {
  padding: 5px 15px;
  background: var(--color-secondary-two);
  text-align: left;
}